.heroText * {
  font-family: 'Roboto Mono', monospace;
}

.typewriterText {
  width: 100px;
}

@media screen and (min-width: 640px) {
  .typewriterText {
    width: 130px;
  }
}

#cursor {
  border-left: .1em solid rgba(0,0,0,0);
  animation: blink .7s steps(1) 6;
}

@keyframes blink {
  50% {
    border-color: white;
  }
}