@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, * {
    font-family: 'Open Sans', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    background: FFF;
    overflow-x: hidden;
  }
  
  @media screen and (min-width: 640px) { 
    .clippedRect {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    .CTAclippedRect {
      -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    }
  }

.CTAbtn {
  box-shadow: inset 0 0 0 0 #fff;
  color: #fff;
}

.whiteToBlueBtn span {
  box-shadow: inset 0 0 0 0 #60A5FA;
  color: #60A5FA
}

@media (hover: hover) {
    .CTAbtn {
      transition: ease-out 0.3s;
    }

    .whiteToBlueBtn span {
      transition: ease-out 0.3s;
    }
    .CTAbtn:hover {
        box-shadow: inset 187.4px 0 0 0 #fff;
        color: #60A5FA;
    }
    
    .whiteToBlueBtn:hover span {
      box-shadow: inset 187.4px 0 0 0 #60A5FA;
      color: #fff;
    }
}

@media (hover: none) {
  .CTAbtn, .whiteToBlueBtn span {
    transition: none;
  }

  .CTAbtn:hover {
    box-shadow: inset 0 0 0 0 #fff;
    color: #fff;
  }

  .whiteToBlueBtn:hover span {
    box-shadow: inset 0 0 0 0 #60A5FA;
    color: #60A5FA;
  }

  .mobileCTAbtn {
    box-shadow: inset 187.4px 0 0 0 #fff;
    color: #60A5FA;
  }

  .mobileWhiteToBlueBtn {
      box-shadow: inset 187.4px 0 0 0 #60A5FA;
      color: #fff;
  }
}

/* @media (hover: none) {
  .CTAbtn:visited {
    box-shadow: inset 0 0 0 0 #fff;
    color: #60A5FA;
  }
  .CTAbtn:active {
    box-shadow: inset 187.4px 0 0 0 #fff;
    color: #fff;
  }
  .whiteToBlueBtn:visited span {
    box-shadow: inset 0 0 0 0 #60A5FA;
    color: #3B82F6;
  }
  .whiteToBlueBtn:active span {
    box-shadow: inset 187.4px 0 0 0 #60A5FA;
    color: #fff;
  }
} */